@{
    ViewBag.Title = "Home Page";
}


<ul data-role="listview" data-inset="true">
    <li data-role="list-divider">Navigation</li>
    <li>@Html.ActionLink("Books", "Index", "Books")</li>
    <li>@Html.ActionLink("Authors", "Index", "Authors")</li>
</ul>